In [404]:
import pandas as pd
import numpy as np

In [405]:
agra_data=pd.read_csv("agra.csv")
indore_data=pd.read_csv("indore.csv")
lucknow_data=pd.read_csv("lucknow.csv")

In [406]:
agra_data.head()

,Restaurent name,Cuisine types,Rating,Price,Distance,Location
0,Piazza Pizza By Little Italy,Pizza,3.9,₹200 for two,2.5 km,"Tajganj, Agra"
1,Marleys The Milkshake,"Beverages, Desserts, Ice Cream, Shake, Burger,...",3.7,₹400 for two,3.7 km,"Tajganj, Agra"
2,Molecule Air Bar,"North Indian, Chinese, Continental, Italian",4.6,"₹2,000 for two",4.8 km,"Tajganj, Agra"
3,The Salt Cafe Kitchen & Bar,"North Indian, Continental, Chinese, Italian, F...",4.9,"₹1,800 for two",3.8 km,"Tajganj, Agra"
4,Palm Burj,"North Indian, Chinese, Continental, Sushi, Sic...",4.5,"₹2,200 for two",1.9 km,"Rakabganj, Agra"

In [407]:
agra_data.dtypes

Restaurent name    object
Cuisine types      object
Rating             object
Price              object
Distance           object
Location           object
dtype: object

In [408]:
lucknow_data.head(20)

,Restaurent name,Cuisine types,Rating,Price,Distance,Location
0,M E A Cafe And Restaurant,"North Indian, Chinese, BBQ, Fast Food, Beverag...",4.2,"₹1,200 for two",2.7 km,"Indira Nagar, Lucknow"
1,Cafè 1991,"Coffee, Chinese, Fast Food, Desserts",4.5,₹700 for two,4.5 km,"Gomti Nagar, Lucknow"
2,Bigg Daddy,"North Indian, Mughlai, Continental, Chinese, I...",4.3,"₹2,000 for two",6 km,"Cyber Heights, Gomti Nagar, Lucknow"
3,Remix Veg Food Hall,"North Indian, Fast Food, Chinese, Desserts, So...",3.6,₹300 for two,5.8 km,"Gomti Nagar, Lucknow"
4,Boombox Bar Xchange,"North Indian, Chinese, Continental, Asian, Bir...",4.3,"₹2,000 for two",6.1 km,"Summit Building, Gomti Nagar, Lucknow"
5,The Big Grill,"Chinese, Salad, North Indian, Oriental, Desser...",4.6,"₹2,000 for two",8.7 km,"Phoenix Plassio Mall, Lucknow"
6,Tanatan,"North Indian, Lucknowi, Desserts, Beverages",4.6,"₹2,500 for two",2.3 km,"Hazratganj, Lucknow"
7,Rominus Pizza And Burger,"Pizza, Burger, Fast Food",4.1,₹400 for two,1.7 km,"Hazratganj, Lucknow"
8,Molecule Air Bar,"North Indian, Continental, Asian, Finger Food,...",4.4,"₹1,800 for two",2.6 km,"Riverside Mall, Gomti Nagar, Lucknow"
9,Chinese Wok,Chinese,3.4,₹400 for two,7.2 km,"Gomti Nagar, Lucknow"
10,The Oven,"Pizza, Fast Food",4.1,₹200 for two,3.9 km,"Sadar Bazaar, Lucknow"
11,Vint Club,"Chinese, Continental, Italian, Sushi, Beverage...",4.3,"₹1,000 for two",9.3 km,"Gomti Nagar, Lucknow"
12,Que,"North Indian, Continental, Chinese, Finger Foo...",4.5,"₹1,000 for two",4.6 km,"Gomti Nagar, Lucknow"
13,Tickled Pink,"North Indian, Continental, Thai, Pizza, Turkis...",4.5,"₹2,000 for two",5.7 km,"Gomti Nagar, Lucknow"
14,The Burger's Castle,"Burger, Wraps, Sandwich, Fast Food, Street Foo...",3.1,₹300 for two,1.3 km,"Nirala Nagar, Lucknow"
15,WOW! China,"Chinese, Oriental, Asian, Sichuan, Seafood, Momos",3.2,₹700 for two,5 km,"Jankipuram, Lucknow"
16,Chili's Grill & Bar,"Tex-Mex, American, Mexican, BBQ, Continental, ...",4.7,"₹1,000 for two",9.7 km,"Lulu Mall, Lucknow"
17,Togo's Momo,"Momos, Chinese",4.2,₹300 for two,8.4 km,"Aashiana, Lucknow"
18,Sky Glass Brewing Co.,"Bar Food, Italian, Chinese, Desserts, Beverages",4.9,"₹1,800 for two",5.2 km,"Phoenix Plassio Mall, Lucknow"
19,Panorama Terrace,"North Indian, Chinese, Italian, Street Food, B...",3.7,"₹1,000 for two",4.2 km,"Khurram Nagar, Lucknow"

In [409]:
(agra_data["Rating"].value_counts()=="New")

Rating
3.9    False
3.8    False
-      False
4.0    False
3.7    False
4.1    False
3.6    False
3.5    False
4.2    False
4.3    False
3.3    False
New    False
3.4    False
3.0    False
4.4    False
3.2    False
4.5    False
3.1    False
4.6    False
4.9    False
2.7    False
2.9    False
4.7    False
2.6    False
2.5    False
4.8    False
Name: count, dtype: bool

In [410]:
indore_data.head(20)

indore_data["Rating"].value_counts()

Rating
-      59
3.9    57
4.2    42
3.8    42
4.0    40
4.1    35
4.3    26
New    26
3.7    20
4.4    17
3.6    16
4.5    16
3.4    14
3.5    14
3.3    14
3.1    10
3.2     9
3.0     9
4.6     6
2.8     6
2.9     5
4.8     4
4.7     4
4.9     4
2.7     3
2.6     2
2.5     1
Name: count, dtype: int64

In [411]:
lucknow_data.head(20)

lucknow_data["Rating"].value_counts()

Rating
-      148
3.9     51
New     39
4.2     29
3.8     25
4.0     25
4.3     21
4.1     21
3.7     18
4.5     16
4.4     16
3.5     13
3.6     12
4.6     12
3.3     10
3.2      9
3.0      9
3.4      6
4.9      5
3.1      5
4.7      2
2.9      2
2.8      2
2.5      2
2.6      1
4.8      1
2.4      1
Name: count, dtype: int64

In [412]:


# agra_data['Rating'] = agra_data['Rating'].replace('New', 0)
# agra_data['Rating'] = agra_data['Rating'].replace('-', 0)


# agra_data['Rating'] = agra_data['Rating'].astype(float)

In [413]:


# lucknow_data['Rating'] = lucknow_data['Rating'].replace('New', 0)
# lucknow_data['Rating'] = lucknow_data['Rating'].replace('-', 0)


# lucknow_data['Rating'] = lucknow_data['Rating'].astype(float)

# lucknow_data.head(20)

In [414]:

# indore_data['Rating'] = indore_data['Rating'].replace('New', 0)
# indore_data['Rating'] = indore_data['Rating'].replace('-', 0)

# indore_data['Rating'] = indore_data['Rating'].astype(float)

# indore_data.head(20)

In [415]:
lucknow_data.dtypes
lucknow_data["Rating"].value_counts()

Rating
-      148
3.9     51
New     39
4.2     29
3.8     25
4.0     25
4.3     21
4.1     21
3.7     18
4.5     16
4.4     16
3.5     13
3.6     12
4.6     12
3.3     10
3.2      9
3.0      9
3.4      6
4.9      5
3.1      5
4.7      2
2.9      2
2.8      2
2.5      2
2.6      1
4.8      1
2.4      1
Name: count, dtype: int64

In [416]:
indore_data.describe()

,Restaurent name,Cuisine types,Rating,Price,Distance,Location
count,501,501,501,501,501,501
unique,490,419,27,38,106,58
top,Maa Ki Rasoi,North Indian,-,"₹1,000 for two",2.8 km,"Vijay Nagar, Indore"
freq,2,33,59,87,20,142

In [417]:
# median_value = indore_data["Rating"].median()
# indore_data["Rating"].replace(0,median_value, inplace=True)

In [418]:
# median_value = lucknow_data["Rating"].median()
# lucknow_data["Rating"].replace(0,median_value, inplace=True)

In [419]:
# median_value = indore_data["Rating"].median()
# indore_data["Rating"].replace(0,median_value, inplace=True)

In [420]:
indore_data.describe()

,Restaurent name,Cuisine types,Rating,Price,Distance,Location
count,501,501,501,501,501,501
unique,490,419,27,38,106,58
top,Maa Ki Rasoi,North Indian,-,"₹1,000 for two",2.8 km,"Vijay Nagar, Indore"
freq,2,33,59,87,20,142

In [421]:
indore_data["Rating"].value_counts().sum()

501

In [422]:
agra_data['Rating'].isnull().sum()

0

In [423]:
agra_data["Rating"].value_counts().sum()

501

In [424]:
agra_data['Rating'].isnull().sum()

0

In [425]:
# count_for_two = indore_data['Price'].str.contains('for two').sum()
# count_for_two
# indore_data['Price'] = indore_data['Price'].str.replace(r'[^\d]+', '', regex=True).astype(float)

In [426]:
# count_for_two = lucknow_data['Price'].str.contains('for two').sum()
# count_for_two
# lucknow_data['Price'] = lucknow_data['Price'].str.replace(r'[^\d]+', '', regex=True).astype(float)

In [427]:
# lucknow_data['Price']=(lucknow_data['Price']/2)

In [428]:
# indore_data['Price']=(indore_data['Price']/2)
indore_data.head(52)
indore_data.describe()

,Restaurent name,Cuisine types,Rating,Price,Distance,Location
count,501,501,501,501,501,501
unique,490,419,27,38,106,58
top,Maa Ki Rasoi,North Indian,-,"₹1,000 for two",2.8 km,"Vijay Nagar, Indore"
freq,2,33,59,87,20,142

In [429]:

indore_data['Distance'] = indore_data['Distance'].str.extract(r'(\d+\.?\d*)').astype(float)

In [430]:


lucknow_data['Distance'] = lucknow_data['Distance'].str.extract(r'(\d+\.?\d*)').astype(float)

condition = lucknow_data["Distance"] > 30


lucknow_data.loc[condition, "Distance"] = lucknow_data["Distance"] / 1000

In [431]:

condition = indore_data["Distance"] > 30


indore_data.loc[condition, "Distance"] = indore_data[condition]["Distance"] / 1000

In [432]:
indore_data.describe()

         Distance
count  501.000000
mean     5.278190
std      2.788994
min      0.973000
25%      3.500000
50%      4.800000
75%      6.200000
max     25.800000

In [433]:
indore_data.dtypes

Restaurent name     object
Cuisine types       object
Rating              object
Price               object
Distance           float64
Location            object
dtype: object

In [434]:
# count_for_two = agra_data['Price'].str.contains('for two').sum()
# count_for_two

In [435]:
# agra_data['Price'] = agra_data['Price'].str.replace(r'[^\d]+', '', regex=True).astype(float)

In [436]:
# agra_data['Price']=(agra_data['Price']/2)

In [437]:
agra_data.head(50)

,Restaurent name,Cuisine types,Rating,Price,Distance,Location
0,Piazza Pizza By Little Italy,Pizza,3.9,₹200 for two,2.5 km,"Tajganj, Agra"
1,Marleys The Milkshake,"Beverages, Desserts, Ice Cream, Shake, Burger,...",3.7,₹400 for two,3.7 km,"Tajganj, Agra"
2,Molecule Air Bar,"North Indian, Chinese, Continental, Italian",4.6,"₹2,000 for two",4.8 km,"Tajganj, Agra"
3,The Salt Cafe Kitchen & Bar,"North Indian, Continental, Chinese, Italian, F...",4.9,"₹1,800 for two",3.8 km,"Tajganj, Agra"
4,Palm Burj,"North Indian, Chinese, Continental, Sushi, Sic...",4.5,"₹2,200 for two",1.9 km,"Rakabganj, Agra"
5,Unplugged Courtyard,"Mediterranean, North Indian, Continental, Chin...",4.4,"₹1,600 for two",4.8 km,"Tajganj, Agra"
6,Hichkee,"Continental, North Indian, Chinese",4.2,"₹1,700 for two",1.2 km,"Civil Lines, Agra"
7,The Numberdaars,"Chinese, North Indian, Biryani, Mughlai, Kebab...",4.0,₹800 for two,6.8 km,"Sikandra, Agra"
8,Barbeque Nation,"North Indian, BBQ, Biryani, Kebab, Continental...",4.4,"₹1,550 for two",2.5 km,"Civil Lines, Agra"
9,The Nawaabs,"Mughlai, North Indian, Biryani, Kebab, Beverages",4.3,"₹1,100 for two",2.7 km,"Tajganj, Agra"
10,Oasis - Radisson Hotel Agra,"North Indian, Continental, Beverages",4.1,"₹2,700 for two",4.1 km,"Radisson Hotel Agra, Tajganj, Agra"
11,Biryani By Kilo,"Biryani, Hyderabadi, Kebab, North Indian, Ice ...",4.4,"₹1,000 for two",3 km,"Civil Lines, Agra"
12,Masala Bistro,"Chinese, North Indian, Rolls, Kebab, Fast Food",3.7,₹350 for two,2.8 km,"Tajganj, Agra"
13,Cafe G - Holiday Inn,"North Indian, Continental, South Indian, Chine...",4.4,"₹3,000 for two",2.6 km,"Civil Lines, Agra"
14,Downtown Cafe,"North Indian, Mughlai, Continental, Chinese, B...",4.9,"₹1,600 for two",1.4 km,"Rakabganj, Agra"
15,Pinch Of Spice,"North Indian, Chinese, Continental, Desserts, ...",4.5,"₹1,600 for two",3.2 km,"Tajganj, Agra"
16,Cosmos Cafe & Bar - Fairfield By Marriott,"Continental, North Indian, South Indian, Mughl...",3.4,"₹2,400 for two",2.6 km,"Civil Lines, Agra"
17,My Bar Headquarters,"North Indian, Chinese, Pizza, Fast Food, Desserts",New,"₹1,200 for two",3.1 km,"Khandari, Agra"
18,Peshawri - ITC Mughal,"North Indian, Mughlai",4.5,"₹6,000 for two",3.2 km,"ITC Mughal, Tajganj, Agra"
19,Pind Balluchi,"North Indian, Mughlai, Chinese, Desserts",3.9,"₹1,100 for two",3.6 km,"Tajganj, Agra"
20,Two Saints Bar & Kitchen,"North Indian, Bar Food, Oriental, Continental,...",4.3,"₹1,800 for two",2.4 km,"Tajganj, Agra"
21,Urban Deck,"Mexican, Italian, North Indian",4.2,"₹2,200 for two",2.7 km,"Civil Lines, Agra"
22,The Wok Bar,"Asian, Japanese, Sushi, Thai, Korean, Desserts",4.4,"₹2,400 for two",2.7 km,"Civil Lines, Agra"
23,Ek Number-Twisted Indian Cafe,"Chinese, North Indian, Continental, Mughlai, I...",3.8,"₹1,200 for two",3.4 km,"Civil Lines, Agra"
24,Made In Punjab,"North Indian, Mughlai, Biryani, Rolls, Chinese...",4.6,"₹1,300 for two",2.7 km,"Civil Lines, Agra"
25,NU-CLER,"North Indian, Oriental, Asian, Mediterranean, ...",4.3,"₹2,000 for two",1.8 km,"Civil Lines, Agra"
26,MoMo Cafe - Courtyard By Marriott,"North Indian, Fast Food, Continental, Beverage...",4.5,"₹3,000 for two",4.8 km,"Courtyard by Marriott Agra, Tajganj, Agra"
27,Folks Pub,"North Indian, Chinese",4.1,"₹1,400 for two",3.4 km,"Civil Lines, Agra"
28,Pind Balluchi,"Mughlai, North Indian",3.9,"₹1,000 for two",6.2 km,"Sikandra, Agra"
29,Thaliwala Pure Veg Restaurant,"North Indian, Chinese, Beverages",3.5,₹800 for two,3.4 km,"Tajganj, Agra"
30,Beep,"North Indian, Chinese, Continental, Pizza, Pasta",4.4,"₹1,200 for two",2.4 km,"Rakabganj, Agra"
31,Djlecious,"Bakery, Desserts, Beverages",4.0,₹400 for two,3.3 km,"Civil Lines, Agra"
32,Mama Chicken Mama Franky House,"North Indian, Mughlai, Rolls, Burger, Momos",4.1,"₹1,000 for two",2.2 km,"Agra Cantt, Agra"
33,KFC,"Burger, Fast Food, Biryani, Desserts, Beverages",3.6,₹500 for two,3 km,"Khandari, Agra"
34,La Pino'z Pizza,"Pizza, Pasta, Italian, Fast Food",3.3,₹500 for two,3.1 km,"Tajganj, Agra"
35,Momocult,"Momos, Chinese, Fast Food",3.8,₹200 for two,2.7 km,"Civil Lines, Agra"
36,Pizza Hut,"Pizza, Fast Food, Desserts, Beverages",3.9,"₹1,000 for two",2.4 km,"Agra Cantt, Agra"
37,Bistro 57,"Cafe, Pasta, Pizza, Burger, Coffee, Fast Food",3.9,₹600 for two,3.3 km,"Civil Lines, Agra"
38,Tease Me - Rooftop Cafe,"Italian, North Indian, Fast Food",4.3,"₹1,500 for two",2.2 km,"Tajganj, Agra"
39,McDonald's,"Burger, Fast Food, Beverages, Cafe",4.0,₹500 for two,2.7 km,"Civil Lines, Agra"
40,Fat Tiger,"North Indian, Rolls, Momos, Desserts, Shake, C...",3.6,"₹1,100 for two",3.1 km,"Civil Lines, Agra"
41,La' Chef Multicuisine Restaurant,"North Indian, Chinese, Kebab, South Indian, Co...",-,"₹1,200 for two",7.2 km,"Sikandra, Agra"
42,Lord Of The Drinks,"European, Chinese, North Indian, Italian",4.1,"₹1,800 for two",4.8 km,"Tajganj, Agra"
43,Ghoomar Traditional Thali Restaurant,"North Indian, Rajasthani",3.3,"₹1,000 for two",4 km,"Khandari, Agra"
44,Hotel Moti Palace - Pankhuri Restaurant,"North Indian, Chinese, Continental, South Indi...",4.2,"₹1,000 for two",1.4 km,"Rakabganj, Agra"
45,Dasaprakash,"South Indian, North Indian, Continental, Chine...",3.8,₹800 for two,4.8 km,"Tajganj, Agra"
46,The Ivory Kitchen,"North Indian, Chinese, Pasta, Pizza, Sandwich,...",3.9,"₹1,100 for two",2.5 km,"Agra Cantt, Agra"
47,Spiced Brew,"Cafe, Continental, Burger, Sandwich, Fast Food...",4.9,₹800 for two,3.6 km,"Khandari, Agra"
48,Fat Boys Cafe,"Sandwich, Pizza, Fast Food, Chinese, Momos, Pa...",3.7,₹400 for two,2.3 km,"Agra Cantt, Agra"
49,Haldiram's,"North Indian, South Indian, Chinese, Fast Food...",4.2,₹400 for two,4 km,"Khandari, Agra"

In [438]:
agra_data["Distance"].value_counts()

Distance
2.7 km    35
2.5 km    27
3.8 km    25
3.3 km    24
4 km      21
          ..
7.3 km     1
7.9 km     1
7.1 km     1
546 m      1
1.1 km     1
Name: count, Length: 80, dtype: int64

In [439]:
agra_data.describe()

,Restaurent name,Cuisine types,Rating,Price,Distance,Location
count,501,501,501,501,501,501
unique,483,372,26,45,80,32
top,Bhagat Halwai,North Indian,3.9,₹300 for two,2.7 km,"Tajganj, Agra"
freq,6,49,81,75,35,102

In [440]:
agra_data.head(20)

,Restaurent name,Cuisine types,Rating,Price,Distance,Location
0,Piazza Pizza By Little Italy,Pizza,3.9,₹200 for two,2.5 km,"Tajganj, Agra"
1,Marleys The Milkshake,"Beverages, Desserts, Ice Cream, Shake, Burger,...",3.7,₹400 for two,3.7 km,"Tajganj, Agra"
2,Molecule Air Bar,"North Indian, Chinese, Continental, Italian",4.6,"₹2,000 for two",4.8 km,"Tajganj, Agra"
3,The Salt Cafe Kitchen & Bar,"North Indian, Continental, Chinese, Italian, F...",4.9,"₹1,800 for two",3.8 km,"Tajganj, Agra"
4,Palm Burj,"North Indian, Chinese, Continental, Sushi, Sic...",4.5,"₹2,200 for two",1.9 km,"Rakabganj, Agra"
5,Unplugged Courtyard,"Mediterranean, North Indian, Continental, Chin...",4.4,"₹1,600 for two",4.8 km,"Tajganj, Agra"
6,Hichkee,"Continental, North Indian, Chinese",4.2,"₹1,700 for two",1.2 km,"Civil Lines, Agra"
7,The Numberdaars,"Chinese, North Indian, Biryani, Mughlai, Kebab...",4.0,₹800 for two,6.8 km,"Sikandra, Agra"
8,Barbeque Nation,"North Indian, BBQ, Biryani, Kebab, Continental...",4.4,"₹1,550 for two",2.5 km,"Civil Lines, Agra"
9,The Nawaabs,"Mughlai, North Indian, Biryani, Kebab, Beverages",4.3,"₹1,100 for two",2.7 km,"Tajganj, Agra"
10,Oasis - Radisson Hotel Agra,"North Indian, Continental, Beverages",4.1,"₹2,700 for two",4.1 km,"Radisson Hotel Agra, Tajganj, Agra"
11,Biryani By Kilo,"Biryani, Hyderabadi, Kebab, North Indian, Ice ...",4.4,"₹1,000 for two",3 km,"Civil Lines, Agra"
12,Masala Bistro,"Chinese, North Indian, Rolls, Kebab, Fast Food",3.7,₹350 for two,2.8 km,"Tajganj, Agra"
13,Cafe G - Holiday Inn,"North Indian, Continental, South Indian, Chine...",4.4,"₹3,000 for two",2.6 km,"Civil Lines, Agra"
14,Downtown Cafe,"North Indian, Mughlai, Continental, Chinese, B...",4.9,"₹1,600 for two",1.4 km,"Rakabganj, Agra"
15,Pinch Of Spice,"North Indian, Chinese, Continental, Desserts, ...",4.5,"₹1,600 for two",3.2 km,"Tajganj, Agra"
16,Cosmos Cafe & Bar - Fairfield By Marriott,"Continental, North Indian, South Indian, Mughl...",3.4,"₹2,400 for two",2.6 km,"Civil Lines, Agra"
17,My Bar Headquarters,"North Indian, Chinese, Pizza, Fast Food, Desserts",New,"₹1,200 for two",3.1 km,"Khandari, Agra"
18,Peshawri - ITC Mughal,"North Indian, Mughlai",4.5,"₹6,000 for two",3.2 km,"ITC Mughal, Tajganj, Agra"
19,Pind Balluchi,"North Indian, Mughlai, Chinese, Desserts",3.9,"₹1,100 for two",3.6 km,"Tajganj, Agra"

In [441]:
agra_data.dtypes

Restaurent name    object
Cuisine types      object
Rating             object
Price              object
Distance           object
Location           object
dtype: object

In [442]:
agra_data.isnull().sum()

Restaurent name    0
Cuisine types      0
Rating             0
Price              0
Distance           0
Location           0
dtype: int64

In [443]:
agra_data['Distance'].value_counts()

Distance
2.7 km    35
2.5 km    27
3.8 km    25
3.3 km    24
4 km      21
          ..
7.3 km     1
7.9 km     1
7.1 km     1
546 m      1
1.1 km     1
Name: count, Length: 80, dtype: int64

In [444]:

agra_data['Distance'] = agra_data['Distance'].str.extract(r'(\d+\.?\d*)').astype(float)

In [445]:
agra_data["Distance"].value_counts()

Distance
2.7      35
2.5      27
3.8      25
3.3      24
4.0      21
         ..
7.3       1
7.9       1
7.1       1
546.0     1
1.1       1
Name: count, Length: 80, dtype: int64

In [446]:
agra_data.head(10)

,Restaurent name,Cuisine types,Rating,Price,Distance,Location
0,Piazza Pizza By Little Italy,Pizza,3.9,₹200 for two,2.5,"Tajganj, Agra"
1,Marleys The Milkshake,"Beverages, Desserts, Ice Cream, Shake, Burger,...",3.7,₹400 for two,3.7,"Tajganj, Agra"
2,Molecule Air Bar,"North Indian, Chinese, Continental, Italian",4.6,"₹2,000 for two",4.8,"Tajganj, Agra"
3,The Salt Cafe Kitchen & Bar,"North Indian, Continental, Chinese, Italian, F...",4.9,"₹1,800 for two",3.8,"Tajganj, Agra"
4,Palm Burj,"North Indian, Chinese, Continental, Sushi, Sic...",4.5,"₹2,200 for two",1.9,"Rakabganj, Agra"
5,Unplugged Courtyard,"Mediterranean, North Indian, Continental, Chin...",4.4,"₹1,600 for two",4.8,"Tajganj, Agra"
6,Hichkee,"Continental, North Indian, Chinese",4.2,"₹1,700 for two",1.2,"Civil Lines, Agra"
7,The Numberdaars,"Chinese, North Indian, Biryani, Mughlai, Kebab...",4.0,₹800 for two,6.8,"Sikandra, Agra"
8,Barbeque Nation,"North Indian, BBQ, Biryani, Kebab, Continental...",4.4,"₹1,550 for two",2.5,"Civil Lines, Agra"
9,The Nawaabs,"Mughlai, North Indian, Biryani, Kebab, Beverages",4.3,"₹1,100 for two",2.7,"Tajganj, Agra"

In [447]:
agra_data.describe()

         Distance
count  501.000000
mean    12.284032
std     74.881588
min      1.100000
25%      2.700000
50%      3.800000
75%      4.700000
max    954.000000

In [448]:
agra_data.head(10)

,Restaurent name,Cuisine types,Rating,Price,Distance,Location
0,Piazza Pizza By Little Italy,Pizza,3.9,₹200 for two,2.5,"Tajganj, Agra"
1,Marleys The Milkshake,"Beverages, Desserts, Ice Cream, Shake, Burger,...",3.7,₹400 for two,3.7,"Tajganj, Agra"
2,Molecule Air Bar,"North Indian, Chinese, Continental, Italian",4.6,"₹2,000 for two",4.8,"Tajganj, Agra"
3,The Salt Cafe Kitchen & Bar,"North Indian, Continental, Chinese, Italian, F...",4.9,"₹1,800 for two",3.8,"Tajganj, Agra"
4,Palm Burj,"North Indian, Chinese, Continental, Sushi, Sic...",4.5,"₹2,200 for two",1.9,"Rakabganj, Agra"
5,Unplugged Courtyard,"Mediterranean, North Indian, Continental, Chin...",4.4,"₹1,600 for two",4.8,"Tajganj, Agra"
6,Hichkee,"Continental, North Indian, Chinese",4.2,"₹1,700 for two",1.2,"Civil Lines, Agra"
7,The Numberdaars,"Chinese, North Indian, Biryani, Mughlai, Kebab...",4.0,₹800 for two,6.8,"Sikandra, Agra"
8,Barbeque Nation,"North Indian, BBQ, Biryani, Kebab, Continental...",4.4,"₹1,550 for two",2.5,"Civil Lines, Agra"
9,The Nawaabs,"Mughlai, North Indian, Biryani, Kebab, Beverages",4.3,"₹1,100 for two",2.7,"Tajganj, Agra"

In [449]:

condition = agra_data["Distance"] > 30


agra_data.loc[condition, "Distance"] = agra_data[condition]["Distance"] / 1000

In [450]:
agra_data.head(10)

,Restaurent name,Cuisine types,Rating,Price,Distance,Location
0,Piazza Pizza By Little Italy,Pizza,3.9,₹200 for two,2.5,"Tajganj, Agra"
1,Marleys The Milkshake,"Beverages, Desserts, Ice Cream, Shake, Burger,...",3.7,₹400 for two,3.7,"Tajganj, Agra"
2,Molecule Air Bar,"North Indian, Chinese, Continental, Italian",4.6,"₹2,000 for two",4.8,"Tajganj, Agra"
3,The Salt Cafe Kitchen & Bar,"North Indian, Continental, Chinese, Italian, F...",4.9,"₹1,800 for two",3.8,"Tajganj, Agra"
4,Palm Burj,"North Indian, Chinese, Continental, Sushi, Sic...",4.5,"₹2,200 for two",1.9,"Rakabganj, Agra"
5,Unplugged Courtyard,"Mediterranean, North Indian, Continental, Chin...",4.4,"₹1,600 for two",4.8,"Tajganj, Agra"
6,Hichkee,"Continental, North Indian, Chinese",4.2,"₹1,700 for two",1.2,"Civil Lines, Agra"
7,The Numberdaars,"Chinese, North Indian, Biryani, Mughlai, Kebab...",4.0,₹800 for two,6.8,"Sikandra, Agra"
8,Barbeque Nation,"North Indian, BBQ, Biryani, Kebab, Continental...",4.4,"₹1,550 for two",2.5,"Civil Lines, Agra"
9,The Nawaabs,"Mughlai, North Indian, Biryani, Kebab, Beverages",4.3,"₹1,100 for two",2.7,"Tajganj, Agra"

In [451]:
agra_data.describe()

         Distance
count  501.000000
mean     3.911176
std      1.690961
min      0.355000
25%      2.700000
50%      3.700000
75%      4.600000
max     12.300000

In [452]:
(agra_data["Rating"]==0).value_counts()

Rating
False    501
Name: count, dtype: int64

In [453]:

agra_data["Rating"].replace(0, 3.374251, inplace=True)

In [454]:
agra_data.describe()

         Distance
count  501.000000
mean     3.911176
std      1.690961
min      0.355000
25%      2.700000
50%      3.700000
75%      4.600000
max     12.300000

In [455]:
agra_data.head(20)

,Restaurent name,Cuisine types,Rating,Price,Distance,Location
0,Piazza Pizza By Little Italy,Pizza,3.9,₹200 for two,2.5,"Tajganj, Agra"
1,Marleys The Milkshake,"Beverages, Desserts, Ice Cream, Shake, Burger,...",3.7,₹400 for two,3.7,"Tajganj, Agra"
2,Molecule Air Bar,"North Indian, Chinese, Continental, Italian",4.6,"₹2,000 for two",4.8,"Tajganj, Agra"
3,The Salt Cafe Kitchen & Bar,"North Indian, Continental, Chinese, Italian, F...",4.9,"₹1,800 for two",3.8,"Tajganj, Agra"
4,Palm Burj,"North Indian, Chinese, Continental, Sushi, Sic...",4.5,"₹2,200 for two",1.9,"Rakabganj, Agra"
5,Unplugged Courtyard,"Mediterranean, North Indian, Continental, Chin...",4.4,"₹1,600 for two",4.8,"Tajganj, Agra"
6,Hichkee,"Continental, North Indian, Chinese",4.2,"₹1,700 for two",1.2,"Civil Lines, Agra"
7,The Numberdaars,"Chinese, North Indian, Biryani, Mughlai, Kebab...",4.0,₹800 for two,6.8,"Sikandra, Agra"
8,Barbeque Nation,"North Indian, BBQ, Biryani, Kebab, Continental...",4.4,"₹1,550 for two",2.5,"Civil Lines, Agra"
9,The Nawaabs,"Mughlai, North Indian, Biryani, Kebab, Beverages",4.3,"₹1,100 for two",2.7,"Tajganj, Agra"
10,Oasis - Radisson Hotel Agra,"North Indian, Continental, Beverages",4.1,"₹2,700 for two",4.1,"Radisson Hotel Agra, Tajganj, Agra"
11,Biryani By Kilo,"Biryani, Hyderabadi, Kebab, North Indian, Ice ...",4.4,"₹1,000 for two",3.0,"Civil Lines, Agra"
12,Masala Bistro,"Chinese, North Indian, Rolls, Kebab, Fast Food",3.7,₹350 for two,2.8,"Tajganj, Agra"
13,Cafe G - Holiday Inn,"North Indian, Continental, South Indian, Chine...",4.4,"₹3,000 for two",2.6,"Civil Lines, Agra"
14,Downtown Cafe,"North Indian, Mughlai, Continental, Chinese, B...",4.9,"₹1,600 for two",1.4,"Rakabganj, Agra"
15,Pinch Of Spice,"North Indian, Chinese, Continental, Desserts, ...",4.5,"₹1,600 for two",3.2,"Tajganj, Agra"
16,Cosmos Cafe & Bar - Fairfield By Marriott,"Continental, North Indian, South Indian, Mughl...",3.4,"₹2,400 for two",2.6,"Civil Lines, Agra"
17,My Bar Headquarters,"North Indian, Chinese, Pizza, Fast Food, Desserts",New,"₹1,200 for two",3.1,"Khandari, Agra"
18,Peshawri - ITC Mughal,"North Indian, Mughlai",4.5,"₹6,000 for two",3.2,"ITC Mughal, Tajganj, Agra"
19,Pind Balluchi,"North Indian, Mughlai, Chinese, Desserts",3.9,"₹1,100 for two",3.6,"Tajganj, Agra"

In [456]:
indore_data.head(20)

,Restaurent name,Cuisine types,Rating,Price,Distance,Location
0,UK Restaurants And Kitchens,"North Indian, Chinese, Biryani, Kebab",3.6,₹500 for two,4.5,"Mangal City Mall, Vijay Nagar, Indore"
1,Dopamine,"Asian, North Indian, Continental, Italian, Bar...",4.5,"₹1,500 for two",5.3,"Vijay Nagar, Indore"
2,Epicentre - The Park,"Continental, Salad, Chinese, Asian, Italian, N...",4.2,"₹3,500 for two",8.0,"The Park, Indore"
3,House Of Malts,"North Indian, Chinese, Continental, Italian, O...",3.8,"₹1,000 for two",5.6,"Vijay Nagar, Indore"
4,The Piano Project,"North Indian, Mughlai, Kebab, Biryani, Beverages",4.5,"₹2,000 for two",4.9,"Vijay Nagar, Indore"
5,Aqua - The Park,"North Indian, Asian, Continental, Oriental",4.5,"₹2,200 for two",8.0,"The Park, Indore"
6,Kabelo Veg Barbecues,"North Indian, Salad, Desserts, Beverages",4.3,"₹1,200 for two",4.5,"Vijay Nagar, Indore"
7,Flame By Fire & Smoke,"North Indian, Chinese, Seafood, Biryani, Orien...",4.4,"₹1,000 for two",4.2,"Vijay Nagar, Indore"
8,Cream Centre,"North Indian, Chinese, Italian, Mexican, Fast ...",4.2,"₹1,400 for two",4.6,"Vijay Nagar, Indore"
9,Cravings - Sayaji Hotel,"North Indian, Chinese, Italian, Beverages",4.5,"₹1,800 for two",4.4,"Sayaji Hotel, Vijay Nagar, Indore"
10,Barbeque Nation,"North Indian, BBQ, Biryani, Kebab, Continental...",4.3,"₹1,500 for two",2.3,"South Tukoganj, Indore"
11,The Creative Kitchen - Radisson Blu Hotel,"North Indian, Continental, Chinese, Asian, Des...",4.0,"₹2,500 for two",5.5,"Radisson Blu Hotel, Vijay Nagar, Indore"
12,Fire & Smoke,"North Indian, Mughlai, Continental",4.9,"₹2,200 for two",8.9,"By Pass Road (North), Indore"
13,Revolution Indore,"North Indian, Continental, Fast Food, Pizza, B...",4.1,"₹2,000 for two",4.9,"Vijay Nagar, Indore"
14,The Cube - Hotel Effotel,"North Indian, Mughlai, Asian, Biryani, Desserts",4.9,"₹1,200 for two",5.5,"Hotel Effotel, Vijay Nagar, Indore"
15,Chopstick City - Sayaji Hotel,"Chinese, Asian, Beverages, Desserts",4.7,"₹1,800 for two",4.4,"Sayaji Hotel, Vijay Nagar, Indore"
16,Municipal,"North Indian, Continental",4.2,"₹1,500 for two",5.1,"Mangal City Mall, Vijay Nagar, Indore"
17,Mama Loca,"Pizza, Pasta, Italian, Continental, Shawarma, ...",4.2,"₹1,000 for two",2.8,"New Palasia, Indore"
18,Indore Kitchen - Indore Marriott Hotel,"North Indian, Asian",4.2,"₹2,000 for two",4.2,"Indore Marriott Hotel, Vijay Nagar, Indore"
19,The Ashoka Hotel And Multi-Cuisine Restaurant,"North Indian, Chinese, Continental, Fast Food,...",4.2,₹700 for two,4.5,"Vijay Nagar, Indore"

In [457]:
indore_data.dtypes

Restaurent name     object
Cuisine types       object
Rating              object
Price               object
Distance           float64
Location            object
dtype: object

In [458]:
agra_data.dtypes

Restaurent name     object
Cuisine types       object
Rating              object
Price               object
Distance           float64
Location            object
dtype: object

In [459]:
indore_data.dtypes

Restaurent name     object
Cuisine types       object
Rating              object
Price               object
Distance           float64
Location            object
dtype: object

In [460]:
lucknow_data.dtypes

Restaurent name     object
Cuisine types       object
Rating              object
Price               object
Distance           float64
Location            object
dtype: object

In [461]:
agra_data.describe()

         Distance
count  501.000000
mean     3.911176
std      1.690961
min      0.355000
25%      2.700000
50%      3.700000
75%      4.600000
max     12.300000

In [462]:
indore_data.describe()

         Distance
count  501.000000
mean     5.278190
std      2.788994
min      0.973000
25%      3.500000
50%      4.800000
75%      6.200000
max     25.800000

In [463]:
lucknow_data.describe()

         Distance
count  501.000000
mean     5.905601
std      3.231083
min      0.030900
25%      3.500000
50%      5.600000
75%      7.800000
max     24.900000

In [464]:

combined_data = pd.concat([agra_data, indore_data, lucknow_data], ignore_index=True)

combined_data.to_csv('new_combined_dataset.csv', index=False)

In [465]:
df=pd.read_csv("new_combined_dataset.csv")

In [466]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1503 entries, 0 to 1502
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Restaurent name  1503 non-null   object
 1   Cuisine types    1503 non-null   object
 2   Rating           1503 non-null   object
 3   Price            1503 non-null   object
 4   Distance         1503 non-null   float64
 5   Location         1503 non-null   object
dtypes: float64(1), object(5)
memory usage: 70.6+ KB

In [467]:
df.head(50)

,Restaurent name,Cuisine types,Rating,Price,Distance,Location
0,Piazza Pizza By Little Italy,Pizza,3.9,₹200 for two,2.5,"Tajganj, Agra"
1,Marleys The Milkshake,"Beverages, Desserts, Ice Cream, Shake, Burger,...",3.7,₹400 for two,3.7,"Tajganj, Agra"
2,Molecule Air Bar,"North Indian, Chinese, Continental, Italian",4.6,"₹2,000 for two",4.8,"Tajganj, Agra"
3,The Salt Cafe Kitchen & Bar,"North Indian, Continental, Chinese, Italian, F...",4.9,"₹1,800 for two",3.8,"Tajganj, Agra"
4,Palm Burj,"North Indian, Chinese, Continental, Sushi, Sic...",4.5,"₹2,200 for two",1.9,"Rakabganj, Agra"
5,Unplugged Courtyard,"Mediterranean, North Indian, Continental, Chin...",4.4,"₹1,600 for two",4.8,"Tajganj, Agra"
6,Hichkee,"Continental, North Indian, Chinese",4.2,"₹1,700 for two",1.2,"Civil Lines, Agra"
7,The Numberdaars,"Chinese, North Indian, Biryani, Mughlai, Kebab...",4.0,₹800 for two,6.8,"Sikandra, Agra"
8,Barbeque Nation,"North Indian, BBQ, Biryani, Kebab, Continental...",4.4,"₹1,550 for two",2.5,"Civil Lines, Agra"
9,The Nawaabs,"Mughlai, North Indian, Biryani, Kebab, Beverages",4.3,"₹1,100 for two",2.7,"Tajganj, Agra"
10,Oasis - Radisson Hotel Agra,"North Indian, Continental, Beverages",4.1,"₹2,700 for two",4.1,"Radisson Hotel Agra, Tajganj, Agra"
11,Biryani By Kilo,"Biryani, Hyderabadi, Kebab, North Indian, Ice ...",4.4,"₹1,000 for two",3.0,"Civil Lines, Agra"
12,Masala Bistro,"Chinese, North Indian, Rolls, Kebab, Fast Food",3.7,₹350 for two,2.8,"Tajganj, Agra"
13,Cafe G - Holiday Inn,"North Indian, Continental, South Indian, Chine...",4.4,"₹3,000 for two",2.6,"Civil Lines, Agra"
14,Downtown Cafe,"North Indian, Mughlai, Continental, Chinese, B...",4.9,"₹1,600 for two",1.4,"Rakabganj, Agra"
15,Pinch Of Spice,"North Indian, Chinese, Continental, Desserts, ...",4.5,"₹1,600 for two",3.2,"Tajganj, Agra"
16,Cosmos Cafe & Bar - Fairfield By Marriott,"Continental, North Indian, South Indian, Mughl...",3.4,"₹2,400 for two",2.6,"Civil Lines, Agra"
17,My Bar Headquarters,"North Indian, Chinese, Pizza, Fast Food, Desserts",New,"₹1,200 for two",3.1,"Khandari, Agra"
18,Peshawri - ITC Mughal,"North Indian, Mughlai",4.5,"₹6,000 for two",3.2,"ITC Mughal, Tajganj, Agra"
19,Pind Balluchi,"North Indian, Mughlai, Chinese, Desserts",3.9,"₹1,100 for two",3.6,"Tajganj, Agra"
20,Two Saints Bar & Kitchen,"North Indian, Bar Food, Oriental, Continental,...",4.3,"₹1,800 for two",2.4,"Tajganj, Agra"
21,Urban Deck,"Mexican, Italian, North Indian",4.2,"₹2,200 for two",2.7,"Civil Lines, Agra"
22,The Wok Bar,"Asian, Japanese, Sushi, Thai, Korean, Desserts",4.4,"₹2,400 for two",2.7,"Civil Lines, Agra"
23,Ek Number-Twisted Indian Cafe,"Chinese, North Indian, Continental, Mughlai, I...",3.8,"₹1,200 for two",3.4,"Civil Lines, Agra"
24,Made In Punjab,"North Indian, Mughlai, Biryani, Rolls, Chinese...",4.6,"₹1,300 for two",2.7,"Civil Lines, Agra"
25,NU-CLER,"North Indian, Oriental, Asian, Mediterranean, ...",4.3,"₹2,000 for two",1.8,"Civil Lines, Agra"
26,MoMo Cafe - Courtyard By Marriott,"North Indian, Fast Food, Continental, Beverage...",4.5,"₹3,000 for two",4.8,"Courtyard by Marriott Agra, Tajganj, Agra"
27,Folks Pub,"North Indian, Chinese",4.1,"₹1,400 for two",3.4,"Civil Lines, Agra"
28,Pind Balluchi,"Mughlai, North Indian",3.9,"₹1,000 for two",6.2,"Sikandra, Agra"
29,Thaliwala Pure Veg Restaurant,"North Indian, Chinese, Beverages",3.5,₹800 for two,3.4,"Tajganj, Agra"
30,Beep,"North Indian, Chinese, Continental, Pizza, Pasta",4.4,"₹1,200 for two",2.4,"Rakabganj, Agra"
31,Djlecious,"Bakery, Desserts, Beverages",4.0,₹400 for two,3.3,"Civil Lines, Agra"
32,Mama Chicken Mama Franky House,"North Indian, Mughlai, Rolls, Burger, Momos",4.1,"₹1,000 for two",2.2,"Agra Cantt, Agra"
33,KFC,"Burger, Fast Food, Biryani, Desserts, Beverages",3.6,₹500 for two,3.0,"Khandari, Agra"
34,La Pino'z Pizza,"Pizza, Pasta, Italian, Fast Food",3.3,₹500 for two,3.1,"Tajganj, Agra"
35,Momocult,"Momos, Chinese, Fast Food",3.8,₹200 for two,2.7,"Civil Lines, Agra"
36,Pizza Hut,"Pizza, Fast Food, Desserts, Beverages",3.9,"₹1,000 for two",2.4,"Agra Cantt, Agra"
37,Bistro 57,"Cafe, Pasta, Pizza, Burger, Coffee, Fast Food",3.9,₹600 for two,3.3,"Civil Lines, Agra"
38,Tease Me - Rooftop Cafe,"Italian, North Indian, Fast Food",4.3,"₹1,500 for two",2.2,"Tajganj, Agra"
39,McDonald's,"Burger, Fast Food, Beverages, Cafe",4.0,₹500 for two,2.7,"Civil Lines, Agra"
40,Fat Tiger,"North Indian, Rolls, Momos, Desserts, Shake, C...",3.6,"₹1,100 for two",3.1,"Civil Lines, Agra"
41,La' Chef Multicuisine Restaurant,"North Indian, Chinese, Kebab, South Indian, Co...",-,"₹1,200 for two",7.2,"Sikandra, Agra"
42,Lord Of The Drinks,"European, Chinese, North Indian, Italian",4.1,"₹1,800 for two",4.8,"Tajganj, Agra"
43,Ghoomar Traditional Thali Restaurant,"North Indian, Rajasthani",3.3,"₹1,000 for two",4.0,"Khandari, Agra"
44,Hotel Moti Palace - Pankhuri Restaurant,"North Indian, Chinese, Continental, South Indi...",4.2,"₹1,000 for two",1.4,"Rakabganj, Agra"
45,Dasaprakash,"South Indian, North Indian, Continental, Chine...",3.8,₹800 for two,4.8,"Tajganj, Agra"
46,The Ivory Kitchen,"North Indian, Chinese, Pasta, Pizza, Sandwich,...",3.9,"₹1,100 for two",2.5,"Agra Cantt, Agra"
47,Spiced Brew,"Cafe, Continental, Burger, Sandwich, Fast Food...",4.9,₹800 for two,3.6,"Khandari, Agra"
48,Fat Boys Cafe,"Sandwich, Pizza, Fast Food, Chinese, Momos, Pa...",3.7,₹400 for two,2.3,"Agra Cantt, Agra"
49,Haldiram's,"North Indian, South Indian, Chinese, Fast Food...",4.2,₹400 for two,4.0,"Khandari, Agra"

In [468]:
df.columns

Index(['Restaurent name', 'Cuisine types', 'Rating', 'Price', 'Distance',
       'Location'],
      dtype='object')

In [469]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1503 entries, 0 to 1502
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Restaurent name  1503 non-null   object
 1   Cuisine types    1503 non-null   object
 2   Rating           1503 non-null   object
 3   Price            1503 non-null   object
 4   Distance         1503 non-null   float64
 5   Location         1503 non-null   object
dtypes: float64(1), object(5)
memory usage: 70.6+ KB

In [470]:
df.describe()

          Distance
count  1503.000000
mean      5.031655
std       2.776754
min       0.030900
25%       3.100000
50%       4.500000
75%       6.200000
max      25.800000

In [471]:
import random
qualities = [
    "Customizable Dishes", "Hospitality", "Weekend Brunch", "Good Music", "Young Crowd",
    "Ambience", "Peaceful Ambience", "Breakfast", "Courteous Staff", "Cafe",
    "Perfect Place", "Ambiance", "Brewed Beer", "Good Bartenders", "Extensive Mocktail Menu",
    "Variety of Beer", "Vintage Decor", "Live Sports Screening", "Sophisticated", 
    "Main Course", "Great Service", "Staff", "Delicious Food", "Quantity",
    "Great for Dates", "Exquisite Taste", "Fresh Ingredients", "Warm Atmosphere",
    "Attentive Service", "Friendly Staff", "Clean Environment", "Cozy Ambiance",
    "Creative Cuisine", "Memorable Experience", "Inviting Decor", "Seasonal Menu",
    "Sustainable Practices", "Local Sourcing", "Innovative Dishes", "Flavorful Creations",
    "Well-priced Options", "Impeccable Presentation", "Hospitable Staff", "Comfortable Seating",
    "Trendy Setting", "Diverse Menu", "Efficient Service", "Consistent Quality",
    "Authentic Flavors", "Satisfying Portions"
]

df['what_people_like_about_us'] = df.apply(lambda x: ', '.join(random.sample(qualities, 3)), axis=1)

In [472]:
df.head(20)

,Restaurent name,Cuisine types,Rating,Price,Distance,Location,what_people_like_about_us
0,Piazza Pizza By Little Italy,Pizza,3.9,₹200 for two,2.5,"Tajganj, Agra","Staff, Flavorful Creations, Attentive Service"
1,Marleys The Milkshake,"Beverages, Desserts, Ice Cream, Shake, Burger,...",3.7,₹400 for two,3.7,"Tajganj, Agra","Good Music, Courteous Staff, Sustainable Pract..."
2,Molecule Air Bar,"North Indian, Chinese, Continental, Italian",4.6,"₹2,000 for two",4.8,"Tajganj, Agra","Courteous Staff, Cozy Ambiance, Friendly Staff"
3,The Salt Cafe Kitchen & Bar,"North Indian, Continental, Chinese, Italian, F...",4.9,"₹1,800 for two",3.8,"Tajganj, Agra","Weekend Brunch, Sophisticated, Flavorful Creat..."
4,Palm Burj,"North Indian, Chinese, Continental, Sushi, Sic...",4.5,"₹2,200 for two",1.9,"Rakabganj, Agra","Main Course, Customizable Dishes, Cozy Ambiance"
5,Unplugged Courtyard,"Mediterranean, North Indian, Continental, Chin...",4.4,"₹1,600 for two",4.8,"Tajganj, Agra","Ambience, Local Sourcing, Brewed Beer"
6,Hichkee,"Continental, North Indian, Chinese",4.2,"₹1,700 for two",1.2,"Civil Lines, Agra","Authentic Flavors, Young Crowd, Impeccable Pre..."
7,The Numberdaars,"Chinese, North Indian, Biryani, Mughlai, Kebab...",4.0,₹800 for two,6.8,"Sikandra, Agra","Local Sourcing, Peaceful Ambience, Satisfying ..."
8,Barbeque Nation,"North Indian, BBQ, Biryani, Kebab, Continental...",4.4,"₹1,550 for two",2.5,"Civil Lines, Agra","Impeccable Presentation, Main Course, Exquisit..."
9,The Nawaabs,"Mughlai, North Indian, Biryani, Kebab, Beverages",4.3,"₹1,100 for two",2.7,"Tajganj, Agra","Local Sourcing, Quantity, Young Crowd"
10,Oasis - Radisson Hotel Agra,"North Indian, Continental, Beverages",4.1,"₹2,700 for two",4.1,"Radisson Hotel Agra, Tajganj, Agra","Friendly Staff, Staff, Good Bartenders"
11,Biryani By Kilo,"Biryani, Hyderabadi, Kebab, North Indian, Ice ...",4.4,"₹1,000 for two",3.0,"Civil Lines, Agra","Efficient Service, Quantity, Cozy Ambiance"
12,Masala Bistro,"Chinese, North Indian, Rolls, Kebab, Fast Food",3.7,₹350 for two,2.8,"Tajganj, Agra","Creative Cuisine, Memorable Experience, Authen..."
13,Cafe G - Holiday Inn,"North Indian, Continental, South Indian, Chine...",4.4,"₹3,000 for two",2.6,"Civil Lines, Agra","Hospitable Staff, Sustainable Practices, Authe..."
14,Downtown Cafe,"North Indian, Mughlai, Continental, Chinese, B...",4.9,"₹1,600 for two",1.4,"Rakabganj, Agra","Variety of Beer, Authentic Flavors, Vintage Decor"
15,Pinch Of Spice,"North Indian, Chinese, Continental, Desserts, ...",4.5,"₹1,600 for two",3.2,"Tajganj, Agra","Exquisite Taste, Efficient Service, Good Music"
16,Cosmos Cafe & Bar - Fairfield By Marriott,"Continental, North Indian, South Indian, Mughl...",3.4,"₹2,400 for two",2.6,"Civil Lines, Agra","Cafe, Friendly Staff, Extensive Mocktail Menu"
17,My Bar Headquarters,"North Indian, Chinese, Pizza, Fast Food, Desserts",New,"₹1,200 for two",3.1,"Khandari, Agra","Creative Cuisine, Clean Environment, Vintage D..."
18,Peshawri - ITC Mughal,"North Indian, Mughlai",4.5,"₹6,000 for two",3.2,"ITC Mughal, Tajganj, Agra","Live Sports Screening, Seasonal Menu, Breakfast"
19,Pind Balluchi,"North Indian, Mughlai, Chinese, Desserts",3.9,"₹1,100 for two",3.6,"Tajganj, Agra","Perfect Place, Innovative Dishes, Breakfast"

In [473]:
df.dtypes

Restaurent name               object
Cuisine types                 object
Rating                        object
Price                         object
Distance                     float64
Location                      object
what_people_like_about_us     object
dtype: object

In [474]:
df["what_people_like_about_us"]

0           Staff, Flavorful Creations, Attentive Service
1       Good Music, Courteous Staff, Sustainable Pract...
2          Courteous Staff, Cozy Ambiance, Friendly Staff
3       Weekend Brunch, Sophisticated, Flavorful Creat...
4         Main Course, Customizable Dishes, Cozy Ambiance
                              ...
1498        Warm Atmosphere, Variety of Beer, Young Crowd
1499    Inviting Decor, Sustainable Practices, Good Ba...
1500    Great Service, Main Course, Impeccable Present...
1501    Great Service, Well-priced Options, Attentive ...
1502    Clean Environment, Extensive Mocktail Menu, Ex...
Name: what_people_like_about_us, Length: 1503, dtype: object

In [475]:
df.to_csv('All_city_data.csv', index=False)

In [476]:
df.head(20)

,Restaurent name,Cuisine types,Rating,Price,Distance,Location,what_people_like_about_us
0,Piazza Pizza By Little Italy,Pizza,3.9,₹200 for two,2.5,"Tajganj, Agra","Staff, Flavorful Creations, Attentive Service"
1,Marleys The Milkshake,"Beverages, Desserts, Ice Cream, Shake, Burger,...",3.7,₹400 for two,3.7,"Tajganj, Agra","Good Music, Courteous Staff, Sustainable Pract..."
2,Molecule Air Bar,"North Indian, Chinese, Continental, Italian",4.6,"₹2,000 for two",4.8,"Tajganj, Agra","Courteous Staff, Cozy Ambiance, Friendly Staff"
3,The Salt Cafe Kitchen & Bar,"North Indian, Continental, Chinese, Italian, F...",4.9,"₹1,800 for two",3.8,"Tajganj, Agra","Weekend Brunch, Sophisticated, Flavorful Creat..."
4,Palm Burj,"North Indian, Chinese, Continental, Sushi, Sic...",4.5,"₹2,200 for two",1.9,"Rakabganj, Agra","Main Course, Customizable Dishes, Cozy Ambiance"
5,Unplugged Courtyard,"Mediterranean, North Indian, Continental, Chin...",4.4,"₹1,600 for two",4.8,"Tajganj, Agra","Ambience, Local Sourcing, Brewed Beer"
6,Hichkee,"Continental, North Indian, Chinese",4.2,"₹1,700 for two",1.2,"Civil Lines, Agra","Authentic Flavors, Young Crowd, Impeccable Pre..."
7,The Numberdaars,"Chinese, North Indian, Biryani, Mughlai, Kebab...",4.0,₹800 for two,6.8,"Sikandra, Agra","Local Sourcing, Peaceful Ambience, Satisfying ..."
8,Barbeque Nation,"North Indian, BBQ, Biryani, Kebab, Continental...",4.4,"₹1,550 for two",2.5,"Civil Lines, Agra","Impeccable Presentation, Main Course, Exquisit..."
9,The Nawaabs,"Mughlai, North Indian, Biryani, Kebab, Beverages",4.3,"₹1,100 for two",2.7,"Tajganj, Agra","Local Sourcing, Quantity, Young Crowd"
10,Oasis - Radisson Hotel Agra,"North Indian, Continental, Beverages",4.1,"₹2,700 for two",4.1,"Radisson Hotel Agra, Tajganj, Agra","Friendly Staff, Staff, Good Bartenders"
11,Biryani By Kilo,"Biryani, Hyderabadi, Kebab, North Indian, Ice ...",4.4,"₹1,000 for two",3.0,"Civil Lines, Agra","Efficient Service, Quantity, Cozy Ambiance"
12,Masala Bistro,"Chinese, North Indian, Rolls, Kebab, Fast Food",3.7,₹350 for two,2.8,"Tajganj, Agra","Creative Cuisine, Memorable Experience, Authen..."
13,Cafe G - Holiday Inn,"North Indian, Continental, South Indian, Chine...",4.4,"₹3,000 for two",2.6,"Civil Lines, Agra","Hospitable Staff, Sustainable Practices, Authe..."
14,Downtown Cafe,"North Indian, Mughlai, Continental, Chinese, B...",4.9,"₹1,600 for two",1.4,"Rakabganj, Agra","Variety of Beer, Authentic Flavors, Vintage Decor"
15,Pinch Of Spice,"North Indian, Chinese, Continental, Desserts, ...",4.5,"₹1,600 for two",3.2,"Tajganj, Agra","Exquisite Taste, Efficient Service, Good Music"
16,Cosmos Cafe & Bar - Fairfield By Marriott,"Continental, North Indian, South Indian, Mughl...",3.4,"₹2,400 for two",2.6,"Civil Lines, Agra","Cafe, Friendly Staff, Extensive Mocktail Menu"
17,My Bar Headquarters,"North Indian, Chinese, Pizza, Fast Food, Desserts",New,"₹1,200 for two",3.1,"Khandari, Agra","Creative Cuisine, Clean Environment, Vintage D..."
18,Peshawri - ITC Mughal,"North Indian, Mughlai",4.5,"₹6,000 for two",3.2,"ITC Mughal, Tajganj, Agra","Live Sports Screening, Seasonal Menu, Breakfast"
19,Pind Balluchi,"North Indian, Mughlai, Chinese, Desserts",3.9,"₹1,100 for two",3.6,"Tajganj, Agra","Perfect Place, Innovative Dishes, Breakfast"

In [477]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1503 entries, 0 to 1502
Data columns (total 7 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Restaurent name            1503 non-null   object
 1   Cuisine types              1503 non-null   object
 2   Rating                     1503 non-null   object
 3   Price                      1503 non-null   object
 4   Distance                   1503 non-null   float64
 5   Location                   1503 non-null   object
 6   what_people_like_about_us  1503 non-null   object
dtypes: float64(1), object(6)
memory usage: 82.3+ KB

In [478]:
df['textual_features'] = df['Cuisine types']  + df['what_people_like_about_us'] + df['Price'] +df['Rating']

In [479]:
df.head(5)

,Restaurent name,Cuisine types,Rating,Price,Distance,Location,what_people_like_about_us,textual_features
0,Piazza Pizza By Little Italy,Pizza,3.9,₹200 for two,2.5,"Tajganj, Agra","Staff, Flavorful Creations, Attentive Service","PizzaStaff, Flavorful Creations, Attentive Ser..."
1,Marleys The Milkshake,"Beverages, Desserts, Ice Cream, Shake, Burger,...",3.7,₹400 for two,3.7,"Tajganj, Agra","Good Music, Courteous Staff, Sustainable Pract...","Beverages, Desserts, Ice Cream, Shake, Burger,..."
2,Molecule Air Bar,"North Indian, Chinese, Continental, Italian",4.6,"₹2,000 for two",4.8,"Tajganj, Agra","Courteous Staff, Cozy Ambiance, Friendly Staff","North Indian, Chinese, Continental, ItalianCou..."
3,The Salt Cafe Kitchen & Bar,"North Indian, Continental, Chinese, Italian, F...",4.9,"₹1,800 for two",3.8,"Tajganj, Agra","Weekend Brunch, Sophisticated, Flavorful Creat...","North Indian, Continental, Chinese, Italian, F..."
4,Palm Burj,"North Indian, Chinese, Continental, Sushi, Sic...",4.5,"₹2,200 for two",1.9,"Rakabganj, Agra","Main Course, Customizable Dishes, Cozy Ambiance","North Indian, Chinese, Continental, Sushi, Sic..."

In [480]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf_vectorizer = TfidfVectorizer()
tfidf_matrix = tfidf_vectorizer.fit_transform(df['textual_features'])

In [481]:
tfidf_matrix

<1503x725 sparse matrix of type '<class 'numpy.float64'>'
	with 20187 stored elements in Compressed Sparse Row format>

In [482]:
print(tfidf_matrix[0][0])

  (0, 708)	0.16178146507279742
  (0, 374)	0.08805037907210375
  (0, 3)	0.28263626039310263
  (0, 638)	0.23207534347260783
  (0, 42)	0.3568861158550248
  (0, 255)	0.3410395676724108
  (0, 324)	0.3717081041360786
  (0, 579)	0.6711848228904781

In [483]:
from sklearn.metrics.pairwise import cosine_similarity
def recommend_restaurants(user_food, user_location, top_n=5):
    
    user_input = tfidf_vectorizer.transform([user_food])

    
    filtered_restaurants = df[df['Location'] == user_location]

    
    similarities = cosine_similarity(user_input, tfidf_matrix[filtered_restaurants.index])

    
    top_indices = similarities.argsort()[0][-top_n:][::-1]
    recommendations = filtered_restaurants.iloc[top_indices]

    return recommendations[['Restaurent name', 'Cuisine types', 'Rating', 'Price', 'Distance', 'Location', 'what_people_like_about_us']]

In [484]:
df.columns

Index(['Restaurent name', 'Cuisine types', 'Rating', 'Price', 'Distance',
       'Location', 'what_people_like_about_us', 'textual_features'],
      dtype='object')

In [485]:
df.columns
recommendations = recommend_restaurants("Italian", "Tajganj, Agra")
recommendations

,Restaurent name,Cuisine types,Rating,Price,Distance,Location,what_people_like_about_us
34,La Pino'z Pizza,"Pizza, Pasta, Italian, Fast Food",3.3,₹500 for two,3.1,"Tajganj, Agra","Delicious Food, Young Crowd, Efficient Service"
473,The Chamber - Kitchen & Taproom,"North Indian, Chinese, Italian, Fast Food, Bev...",4.0,"₹1,200 for two",4.4,"Tajganj, Agra","Sustainable Practices, Cozy Ambiance, Innovati..."
38,Tease Me - Rooftop Cafe,"Italian, North Indian, Fast Food",4.3,"₹1,500 for two",2.2,"Tajganj, Agra","Perfect Place, Variety of Beer, Well-priced Op..."
110,Golden China Restaurant,"Chinese, Rolls, North Indian, Mughlai, Biryani...",3.7,"₹1,000 for two",3.5,"Tajganj, Agra","Flavorful Creations, Impeccable Presentation, ..."
3,The Salt Cafe Kitchen & Bar,"North Indian, Continental, Chinese, Italian, F...",4.9,"₹1,800 for two",3.8,"Tajganj, Agra","Weekend Brunch, Sophisticated, Flavorful Creat..."

In [486]:
import pickle

In [487]:
# Save the TF-IDF model and other necessary components
with open('tfidf_model.pkl', 'wb') as f:
    pickle.dump(tfidf_vectorizer, f)

In [488]:
df.to_csv('restaurants_data.csv', index=False)